/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    padding: 20px;
}

h1, h2, h3 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: #3498db;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
}

button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #34495e;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border-color: #3498db;
}

input[type="radio"] {
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: none;
}

th, td {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

th {
    background-color: #f8f9fa;
    font-weight: bold;
    text-transform: uppercase;
    color: #7f8c8d;
}

td {
    color: #2c3e50;
}

button, .back-button {
    width: 100%;
    margin: 15px 0;
    padding: 15px;
    font-size: 18px;
    border-radius: 25px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    form {
        width: 95%;
    }

    table, th, td {
        font-size: 14px;
        padding: 15px;
    }

    button {
        padding: 12px;
    }
}

@media (max-width: 768px) {
    body {
        padding: 15px;
    }

    form {
        padding: 25px;
    }

    h1, h2 {
        font-size: 28px;
    }

    table, th, td {
        font-size: 14px;
        padding: 12px;
    }

    button {
        font-size: 16px;
        padding: 12px;
    }
}

@media (max-width: 480px) {
    form {
        padding: 20px;
        border-radius: 10px;
    }

    h1, h2 {
        font-size: 22px;
    }

    table, th, td {
        font-size: 12px;
        padding: 10px;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }
}
